<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sygame.unityyhhomeclose" >

    <uses-sdk
        android:targetSdkVersion="33" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true" >
        <activity
            android:name="com.sygame.unityyhhomeclose.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>